/* line 1, ../../../compass/sass/runReport.scss */
.past-reports {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
/* line 6, ../../../compass/sass/runReport.scss */
.past-reports table {
  font-size: 0.8em;
}
/* line 10, ../../../compass/sass/runReport.scss */
.past-reports a {
  cursor: pointer;
}

/* line 15, ../../../compass/sass/runReport.scss */
.running-reports {
  display: inline-block;
  vertical-align: top;
  width: 38%;
}
/* line 20, ../../../compass/sass/runReport.scss */
.running-reports table {
  font-size: 0.9em;
}

/* line 25, ../../../compass/sass/runReport.scss */
.report-list {
  margin-bottom: 1em;
}

/* line 29, ../../../compass/sass/runReport.scss */
img.small {
  width: 24px;
  height: 24px;
}

/* line 35, ../../../compass/sass/runReport.scss */
.ad-hoc-report input {
  margin-left: 5px;
  margin-bottom: 5px;
}
/* line 40, ../../../compass/sass/runReport.scss */
.ad-hoc-report h1 {
  margin-bottom: 5px;
}
/* line 44, ../../../compass/sass/runReport.scss */
.ad-hoc-report h6 {
  margin-top: 20px;
  font-size: 1em;
}
/* line 49, ../../../compass/sass/runReport.scss */
.ad-hoc-report fieldset {
  padding: 5px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 60, ../../../compass/sass/runReport.scss */
.ad-hoc-report h3 {
  margin-left: 5px;
  margin-top: 0;
}
/* line 65, ../../../compass/sass/runReport.scss */
.ad-hoc-report a.button {
  min-width: 80px;
}
/* line 69, ../../../compass/sass/runReport.scss */
.ad-hoc-report button {
  margin: 20px 0;
}
/* line 73, ../../../compass/sass/runReport.scss */
.ad-hoc-report p {
  margin-bottom: 10px;
}
/* line 76, ../../../compass/sass/runReport.scss */
.ad-hoc-report p label {
  display: block;
  margin-left: 5px;
}
/* line 82, ../../../compass/sass/runReport.scss */
.ad-hoc-report .view-all {
  margin-left: 10px;
  font-size: 0.9em;
}
/* line 87, ../../../compass/sass/runReport.scss */
.ad-hoc-report .item {
  background: #363463;
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 10px;
}
/* line 98, ../../../compass/sass/runReport.scss */
.ad-hoc-report .ui-autocomplete-input {
  width: 350px;
  height: 24px;
}
/* line 103, ../../../compass/sass/runReport.scss */
.ad-hoc-report .item label {
  padding-right: 10px;
}
/* line 107, ../../../compass/sass/runReport.scss */
.ad-hoc-report .actions a, .ad-hoc-report .actions a:active, .ad-hoc-report .actions a:visited {
  color: white;
  cursor: pointer;
}
/* line 112, ../../../compass/sass/runReport.scss */
.ad-hoc-report .summary {
  min-height: 70px;
  font-size: 0.8em;
  padding: 5px;
  margin-bottom: 10px;
  background: #FDFCD6;
  color: #333;
}
/* line 120, ../../../compass/sass/runReport.scss */
.ad-hoc-report .summary .summary-parameter {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
/* line 126, ../../../compass/sass/runReport.scss */
.ad-hoc-report .summary h5 {
  color: #333;
}

/* line 133, ../../../compass/sass/runReport.scss */
#search-criteria-dialog a, #columns-dialog a {
  display: block;
  cursor: pointer;
}
